.login-form{
    padding: 20px;
}
body{
background-image: url("https://cdn.pixabay.com/photo/2017/07/30/10/00/economy-2553884_960_720.jpg");

background-repeat: no-repeat;
    background-size: 100% 100%;
   


}