<body>
<div fxLayoutAlign="center center" fxFlexFill>
<mat-card fxFlex="25">
    <mat-toolbar color="primary" fxLayoutAlign="center center">LOGIN PAGE</mat-toolbar>
<form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
    <mat-form-field appearance="outline">
        <mat-label>username</mat-label>
       <input matInput  required>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
        <mat-label>password</mat-label>
        <input matInput required>
     </mat-form-field>
   <button mat-raised-button color="warn" mat-raised-button type="submit">LOGIN</button>
   
    </form>
    <button class=" mx-3 mb-3 col-md-11 " mat-raised-button color="warn" mat-raised-button type="submit">REGISTER</button>
  </mat-card>
</div>
</body>

