<!-- <p>app works</p> -->
 
<router-outlet></router-outlet>

<p>{{name}}</p>

<br>
<button class="btn btn-primary" (click)="click_event()">click</button>

<br>
<input type="text" [value]="name">

<input type="text"  [(ngModel)]="name">

<br>
<br>
 <p [class]="class_bind"> I AM MATHI</p>

  <br>
  <br>
  <p [style.color]="class_bind"> I AAM STUDYING</p>


  <br><br>
  <p>today-{{today | date:'short'}}</p>
  <br>
  <p>{{name|uppercase}}</p>
  <p>{{name|lowercase}}</p>
  <p>{{price|currency}}</p>

  <p>{{decimal|number}}</p>
  
  
